:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyanclaro: hsl(179, 62%, 50%);
    --verde: hsl(71, 73%, 54%);
    --negro:#000;
    --blanco: #fff;
    --gris: hsl(218, 22%, 67%);
    --grisclaro : hsl(204, 43%, 93%)
    
}

html{
    font-size: 16px;
    text-align: center;
}

.boton{
    background-color: var(--verde);
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-decoration: none;
    border-radius: 10px;
    color:var(--blanco); 
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase; 
    border: 2.5px solid var(--verde);
    margin-bottom: 10px;
}

.bloque{
    border: 0.5px solid black;
    border-radius: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-left: 32%;
    margin-right: 32%;
    /* margin-left: 32rem;
    margin-right: 32rem; */
}

.up{
    padding-left: 50px;
    padding-right: 50px;
}

.tittle{
    color: var(--Cyan);
}

.subtittle{
    color: var(--verde);
}

.abajo{
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

.izquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: var(--Cyan);
    color: var(--blanco);
}
.izquierda samp{
    color: var(--gris);
}

.price{
    font-size: 25px;
}

.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--Cyanclaro);
    color: var(--blanco);
   padding-left: 20%;
   padding-right: 20%;
}

.derecha p{
    color: var(--grisclaro);
}




